.container {
    display: flex;
}

.shortlist {
    color: var(--text-alt);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    font-size: 1.1rem;
}

.contact {
    color: var(--text-alt);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    font-size: 1.1rem;
}

.heartIcon {
    font-size: 1.5rem;
    color: var(--text-alt);
    margin-right: 8px;
}

.mailIcon {
    font-size: 1.5rem;
    color: var(--text-alt);
    margin-right: 8px;
}