.header {
    background-color: var(--bright);
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

 .logo-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuIcon {
    color: var(--text-alt);
    font-size: 2rem;
}

/* -- For hiding mobile menu, etc. -- */
.hidden {
    display: none;
}

/* -- Everything larger than phone in landscape -- */
@media all and (min-width: 640px) and (orientation: landscape) {
    .header-container {

    }
}