.header-container {
    background-color: aquamarine;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
}

 .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

