.container {
    background-image: url(../../assets/img/overlay-home.jpg);
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

h1, p {
    color: var(--text-alt);
    text-align: center;
}

h1 {
    padding: .25em .25em;
    font-size: 3rem;
    font-weight: 500;
}

p {
    padding: 0 1.25em .5em 1.25em;
    font-size: 1.25rem;
}